body {
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 14px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-default {
    background-color: skyblue !important;
}

.description {
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
}

/* next classes are rewrited because of hidden scrollbar */
.modal-open {
    overflow: hidden;
    overflow-y: hidden;
}
.modal{
    overflow-y: hidden;
}
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

/* above classes are rewrited because of hidden scrollbar */

.cursor-pointer{
    cursor: pointer;
}
.custom-content .display-books  .list-view {

}
.no-scrollbar {

    overflow-x: hidden !important;
}