@using Library.Web.Models;
@model IEnumerable<BookCategoryViewModel>

<div id="categoryMenu" class="list-group">
    @foreach (var category in Model){
        
        <a id="@category.CategoryName" onclick="booksByCategory(this)" href="#" class="list-group-item">@category.CategoryName</a>
    }

</div>