@model DateTime

<div class="form-group">
        @Html.LabelFor(model => model, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model, Model.ToShortDateString(), new { @class = "form-control dateselection" })
            @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
        </div>
    </div>

